.footer-container{
    height: 20vh;
    background-color: rgb(33, 0, 65);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.footer-container img{
    border-radius: 15px;
}

.footer-container a,.footer-container p{
    color: blueviolet;
}
