.container-integrantes{
    position: absolute;
    transition: 0.5s;
    right: 0px;
    top: -300px;
    z-index: 1;
    
}
.container-integrantes ul{
    list-style: none;
    background-color: rgb(33, 0, 65);
    
    padding: 10px;

    border-radius: 0px 0px 15px 15px;
}
.container-integrantes li{
    margin: 10px 0;
    background-color: rgb(96, 26, 161);
    font-size: 20px;
    border-radius: 50px;
    width: 210px;
    height: 50px;
    text-align: center;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.container-integrantes li:hover{
    background-color: rgb(56, 2, 107);
}

.container-integrantes img{
    width:  45px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 3px;
    
}

.container-integrantes a{
    text-decoration: none;
    color: white;
}