.container-logo{
    display: flex;
    align-items: center;
    background-color: rgb(96, 26, 161);
    width: 430px;
    border-radius: 10px;
    margin-left: 7px;
    
}
.container-logo:hover{
    background-color: rgb(56, 2, 107);
    cursor: pointer;
}
.container-logo img{
    width: 200px;
}

.container-logo h1{
   font-size: 25px;
   color: white; 
   white-space: nowrap;
   
}
a{
    text-decoration: none;
}