.container-displayed-char{
    width: 100%;
    height: 100%;
    
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    
}

.tv{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    
}

.pantalla-tv{
    background-color: aqua;
    width: 80%;
    height: 80%;
    padding: 60px;
    
}
.apagado{
    padding: 0;
}
.ruido{
    width: 100%;
    height: 100%;
}

.encabezado{
    width: 100%;
    height: 80%;
    background-color: red;
    display: flex;
    align-items: center;
 
    
}
.img-view{
    width: 50%;
    
}
.encabezado-info{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    
}
.num-pag{
    background-color:rgb(33, 0, 65);
    padding: 3px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
