.container-user{
    
    display: flex;
    background-color: red;
}

.cell{
    background-color: white;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.id-cell{
    width: 70px;
}